---
Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  modernize-*,
  performance-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -readability-convert-member-functions-to-static,
  -readability-function-cognitive-complexity,
  -readability-magic-numbers,
  -readability-redundant-declaration
WarningsAsErrors: "*"
HeaderFilterRegex: "^(include|src|tests)/"
FormatStyle: file
CheckOptions:
  readability-braces-around-statements.ShortStatementLines: 0
  readability-identifier-naming.FunctionCase: camelBack
  readability-identifier-naming.MethodCase: camelBack
  readability-identifier-length.IgnoredParameterNames: "^(_)$"
  readability-identifier-length.IgnoredVariableNames: "^(it)$"
